@import '../../../shared/variable';
@import '../../../shared/mixin';
.footer{
  background: $main-color-bold;
  font-family: unset;
  ul{
    li{
    border: 1px solid white;
    padding: 5px 9px;
    margin: 0 2%;
    border-radius: 5px;
    line-height: 10px;
    }
  }
}

.chat-icon{
  position: relative;
  .fa-comment-o{
    position: fixed;
    bottom: 21px;
    right: 31px;
    background: $main-color;
    padding: 10px 12px;
    border-radius: 50%;
    z-index: 222;
    width: 51px;
    height: 51px;
    @include box-shadow(5px,5px,10px,$main-color)
  }
}
