<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-9 mt-4">
        <p class="text-white">Created By Mai Mohamed</p>
      </div>
      <div class="col-6 col-md-3 mt-4">
           <ul class="d-flex list-unstyled">
             <li><a>
               <i class="fa fa-facebook text-white" aria-hidden="true"></i>
             </a></li>
             <li><a>
               <i class="fa fa-twitter text-white" aria-hidden="true"></i>
             </a></li>
             <li><a>
              <i class="fa fa-instagram text-white" aria-hidden="true"></i>
             </a></li>
             <li><a>
              <i class="fa fa-yahoo text-white" aria-hidden="true"></i>
             </a></li>

           </ul>
      </div>
    </div>
  </div>

</section>


<section id="chat">
  <div class="chat-icon">
    <i class="fa fa-comments-o text-white h3" aria-hidden="true"></i>
  </div>
</section>
