@media(min-width:992px) and (max-width:1199px){
  #timeline{
   .fa-pencil-square-o{
    margin: 2% 248px
  }
  .fa-check{
    margin: 32% -65px;
  }
  .timeLine-content{
    margin-top: 77%;
  }
  .fa-credit-card-alt{
    margin: 19% 248px;
  }
  }







  

}

