@media(min-width:768px) and (max-width:991px) {
  #timeline{
  .fa-pencil-square-o{
    margin: 2% 188px;
    }
   .fa-check{
    margin: 44% -58px;
   }
   .fa-credit-card-alt{
    margin: 24% 187px;
   }
   .timeLine-content{
    margin-top: 83%;
   }
  }








  
}
