@media(max-width:767px){
#header{
  button{
    width: 50% !important;
  }
}

#timeline{
.fa-pencil-square-o{
  margin: 8% 185px;
}
.fa-credit-card-alt{
  margin: 49% 183px;
}
.fa-check{
  margin: 85% -51px;
}
}

}
