@import '../../shared/variable';
#header{
  background: url(../../../assets/Images/bg.jpg) fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 730px;
  position: relative;
  #overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(4, 36, 58, 0.5);
    #content{
      margin:18% 5%;
      width: 50%;
      h5{
        font-family: cursive;
        font-size: 30px;
      }
      p{
        color: white;
        font-size: 20px;
        font-family: sans-serif;
      }
    }
  }
  &::before{
    background: url(../../../assets/Images/04.png);
    position: absolute;
    width: 100%;
    height: 300px;
    content: "";
    z-index: 20;
    bottom: 0;
  }
}


#recipes{
  background-image: url(../../../assets/Images/05.png);
  background-repeat: no-repeat;
  background-color: rgb(241, 241, 241);
  padding: 65px;
  .recipes-btn{
    a{
    color: $main-color-bold;
    font-size: 19px;
    cursor: pointer;
  }
  }
}

#timeline{
  h5{
    font-family: cursive;
    color: $main-color-bold
  }

.TimeLine-line{
  width: 4px;
  background: rgb(230, 228, 228);
  height: 500px;
  border-radius: 5px;
  margin-left: 36%;
}
.timeLine-content{
  margin-top: 49%;
}
.timeLine-content-left{
  margin-top: 70%;
}
.fa-pencil-square-o,.fa-credit-card-alt,.fa-check{
      margin: 2% 342px;
      position: absolute;
      font-size: 21px;
      background: #084974;
      color: white;
      width: 48px;
      padding: 9px;
      border-radius: 50%;
      height: 48px;
      border: 5px solid white;
}
.fa-credit-card-alt{
  margin: 12% 342px;
  font-size: 14px;
  line-height: 20px;
}
.fa-check{
  margin: 25% -73px
}
}
@import '../../shared/mobile';
@import '../../shared/ipad';
@import '../../shared/ipad-pro'
