<nav class="navbar bg-light navbar-expand-lg sticky-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home">Recipe Book</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-primary">
        <i class="fa fa-bars mt-2" aria-hidden="true"></i>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="nav">
        <!-- <li class="nav-item" routerLinkActive="active"><a (click)="onSelect('recipe')" routerLink="/recipe" class="nav-link text-dark cursor-pointer">Recipes</a></li> -->
        <li class="nav-item" routerLinkActive="active"><a (click)="onSelect('shopping-list')" routerLink="/shopping" class="nav-link text-dark cursor-pointer">Shopping List</a></li>
      </ul>

      <ul class="nav ml-5">
        <li class="dropdown" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-transparent dropdown-toggle"
          aria-controls="dropdown-basic">
          Mange  <span class="caret"></span>
          </button>

          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
            <li class="nav-item"><a class="nav-link">Save</a></li>
            <li class="nav-item"><a class="nav-link">Fetch</a></li>
          </ul>
        </li>
      </ul>
        <i class="fa fa-cart-plus ml-5 mt-2 h4" aria-hidden="true"></i>

      <!-- <ul class="nav menu">
        <li class="dropdown" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-transparent dropdown-toggle"
          aria-controls="dropdown-basic">
          <img src="assets/Images/226-united-states.svg" width="18">
          </button>

          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
            <li class="nav-item"><a class="nav-link">
              <img src="assets/Images/226-united-states.svg" width="18">
              <span class="lang-text-in mx-3">English</span>
            </a></li>
            <li class="nav-item"><a class="nav-link">
              <img src="assets/Images/008-saudi-arabia.svg" width="18">
              <span class="lang-text-in mx-3">العربية</span>
            </a></li>
          </ul>
        </li>
      </ul> -->
      <select class="menu bg-light">
        <option data-thumbnail="assets/Images/226-united-states.svg" value="En">
          En
        </option>
        <option data-thumbnail="assets/Images/008-saudi-arabia.svg" value="Ar">
         Ar
        </option>
      </select>

    </div>
  </div>
</nav>

